<a href="https://colab.research.google.com/github/brahmanarman01/Data_Science_Practice/blob/pandas/8_Aggregration_Grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import pandas as pd
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "Marketing", "Marketing", "Sales", "Sales"],
    "Team": ["A", "A", "B", "B", "C", "C", "D", "D"],
    "Gender": ["M", "F", "M", "F", "M", "F", "M", "F"],
    "Salary": [85, 90, 78, 85, 92, 88, 75, 80],
    "Age": [23, 25, 30, 22, 28, 26, 21, 27],
    "JoinDate": pd.to_datetime([
        "2020-01-10", "2020-02-15", "2021-03-20", "2021-04-10",
        "2020-05-30", "2020-06-25", "2021-07-15", "2021-08-01"
    ])
})

In [3]:
df.groupby("Department")["Salary"].mean()

Department
HR           87.5
IT           81.5
Marketing    90.0
Sales        77.5
Name: Salary, dtype: float64

In [4]:
df.groupby("Team")["Salary"].mean()     # Calculate the average salary per team

Team
A    87.5
B    81.5
C    90.0
D    77.5
Name: Salary, dtype: float64

In [5]:
df.groupby("Team")["Salary"].sum()      # Calculate the total salary per team

Team
A    175
B    163
C    180
D    155
Name: Salary, dtype: int64

In [6]:
df.groupby("Team")["Salary"].count()    # Count the number of employees per team

Team
A    2
B    2
C    2
D    2
Name: Salary, dtype: int64

In [7]:
df.groupby("Team")["Salary"].min()      # Find the minimum salary per team

Team
A    85
B    78
C    88
D    75
Name: Salary, dtype: int64

In [8]:
df.groupby("Team")["Salary"].max()      # Find the maximum salary per team

Team
A    90
B    85
C    92
D    80
Name: Salary, dtype: int64

In [9]:
df.groupby(["Team", "Gender"])["Salary"].mean() # Calculate the average salary per team and gender

Team  Gender
A     F         90.0
      M         85.0
B     F         85.0
      M         78.0
C     F         88.0
      M         92.0
D     F         80.0
      M         75.0
Name: Salary, dtype: float64

In [10]:
df.groupby("Team")["Salary"].agg(["mean", "max", "min"]) # Calculate multiple aggregations (mean, max, min) for salary per team

      mean  max  min
Team
A     87.5   90   85
B     81.5   85   78
C     90.0   92   88
D     77.5   80   75

In [11]:
df["Team Avg"] = df.groupby("Team")["Salary"].transform("mean") # Add a new column with the average salary for each employee's team

In [12]:
df["Team Avg"] # Display the new 'Team Avg' column

0    87.5
1    87.5
2    81.5
3    81.5
4    90.0
5    90.0
6    77.5
7    77.5
Name: Team Avg, dtype: float64

In [13]:
df # Display the DataFrame with the new 'Team Avg' column

  Department Team Gender  Salary  Age   JoinDate  Team Avg
0         HR    A      M      85   23 2020-01-10      87.5
1         HR    A      F      90   25 2020-02-15      87.5
2         IT    B      M      78   30 2021-03-20      81.5
3         IT    B      F      85   22 2021-04-10      81.5
4  Marketing    C      M      92   28 2020-05-30      90.0
5  Marketing    C      F      88   26 2020-06-25      90.0
6      Sales    D      M      75   21 2021-07-15      77.5
7      Sales    D      F      80   27 2021-08-01      77.5

In [14]:
df.groupby("Team").filter(lambda x: x["Salary"].mean() > 80) # Filter teams where the average salary is greater than 80

  Department Team Gender  Salary  Age   JoinDate  Team Avg
0         HR    A      M      85   23 2020-01-10      87.5
1         HR    A      F      90   25 2020-02-15      87.5
2         IT    B      M      78   30 2021-03-20      81.5
3         IT    B      F      85   22 2021-04-10      81.5
4  Marketing    C      M      92   28 2020-05-30      90.0
5  Marketing    C      F      88   26 2020-06-25      90.0